/*
---------------------------------------------------
Author: Jan Cantor
Contact: @jancantor | hello@jancantor.com
---------------------------------------------------
*/
/*
---------------------------------------------------
LESS Rules!
---------------------------------------------------
*/
.pad {
  padding-left: 80px;
  padding-right: 80px;
}
/*
---------------------------------------------------
Global Styles
---------------------------------------------------
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ededed;
  color: #5f5f5f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  padding: 50px;
  -webkit-font-smoothing: antialiased;
}
.just {
  text-align: justify;
}
.just:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.just > * {
  display: inline-block;
  vertical-align: top;
}
h1 {
  font-size: 50px;
  font-weight: 300;
}
h2 {
  font-size: 34px;
  font-weight: 600;
}
a:link,
a:visited {
  text-decoration: none;
  color: #5f5f5f;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#Container {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  -ms-box-shadow: 0 0 5px #cccccc;
  -o-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
/*
---------------------------------------------------
HEADER
---------------------------------------------------
*/
#Header {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}
#Logo {
  float: left;
  width: 50px;
  height: 50px;
  display: block;
  text-indent: -999em;
  border-radius: 50px;
}
#Nav {
  float: right;
  max-width: 300px;
  width: 100%;
  font-family: "ff-nuvo-web-pro", sans-serif;
  font-size: 16px;
}
.light #Logo {
  background: #182037;
}
.light #Nav li a {
  color: #5f5f5f;
  padding-bottom: 5px;
}
.light #Nav li.active a {
  border-bottom: 4px solid #5f5f5f;
}
.dark #Logo {
  background: white;
}
.dark #Nav li a {
  color: white;
  padding-bottom: 5px;
}
.dark #Nav li.active a {
  border-bottom: 4px solid white;
}
/*
---------------------------------------------------
HERO
---------------------------------------------------
*/
.hero {
  padding-top: 150px;
}
.hero .headline {
  font-family: "ff-enzo-web", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.light .statement {
  color: #898989;
}
.dark .statement {
  color: white;
}
.work .hero {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.work .hero .project-title {
  width: 485px;
  height: 75px;
  margin: 130px auto 0;
}
.work .hero .statement {
  max-width: 850px;
  font-family: "ff-nuvo-web-pro", sans-serif;
  font-size: 24px;
  margin: 30px auto;
}
.work .hero .hero-img {
  margin-top: 30px;
}
.agbu .hero {
  background: #f6f6f6;
  border-bottom: 1px solid #e3e3e3;
}
.projectflow .hero {
  background: #262B33;
}
.food .hero {
  background: #EF7A5A;
}
.framethat .hero {
  background: #00B2EE;
}
/*
---------------------------------------------------
MAIN
---------------------------------------------------
*/
#Main {
  margin-top: 50px;
}
#Grid {
  margin-top: 100px;
}
#Grid ul.side-projects {
  margin-top: -40px;
}
#Grid ul.work-thumbs,
#Grid ul.side-projects {
  list-style: none;
  padding: 0;
  width: 100%;
}
#Grid ul.work-thumbs .thumbs,
#Grid ul.side-projects .thumbs {
  position: relative;
  overflow: hidden;
}
#Grid ul.work-thumbs .thumbs .mask,
#Grid ul.side-projects .thumbs .mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 120px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#Grid ul.work-thumbs .thumbs h4,
#Grid ul.side-projects .thumbs h4 {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}
#Grid ul.work-thumbs .thumbs .cta,
#Grid ul.side-projects .thumbs .cta {
  opacity: 0;
  display: block;
  font-size: 12px;
  text-align: center;
  border: 2px solid #5f5f5f;
  padding: 5px 10px;
  width: 130px;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}
#Grid ul.work-thumbs .thumbs:hover .mask,
#Grid ul.side-projects .thumbs:hover .mask {
  opacity: 1;
}
#Grid ul.work-thumbs .thumbs:hover h4,
#Grid ul.side-projects .thumbs:hover h4,
#Grid ul.work-thumbs .thumbs:hover h5,
#Grid ul.side-projects .thumbs:hover h5,
#Grid ul.work-thumbs .thumbs:hover .cta,
#Grid ul.side-projects .thumbs:hover .cta {
  opacity: 1;
  color: #5f5f5f;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
#Grid ul.work-thumbs .thumbs {
  max-width: 23%;
  height: 400px;
  margin-bottom: 15px;
}
#Grid ul.work-thumbs .thumbs img {
  width: auto;
  height: auto;
}
#Grid ul.side-projects .thumbs {
  max-width: 48.5%;
  height: 280px;
}
#Grid ul.side-projects .thumbs img {
  width: 100%;
  height: auto;
}
#Grid ul.side-projects .thumbs .mask {
  width: 100%;
  height: 100%;
  padding-top: 70px;
}
#Grid ul.side-projects .thumbs h5 {
  opacity: 0;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-130px);
  -moz-transform: translateY(-130px);
  -o-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  transform: translateY(-130px);
}
#Grid ul.side-projects .thumbs h4 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}
#Grid ul.side-projects .thumbs .cta {
  width: 150px;
}
#Grid .cta:hover {
  background: #5f5f5f;
  color: white !important;
}
#WorkContent .details {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
#WorkContent .details .description {
  float: left;
  width: 75%;
}
#WorkContent .details .description p {
  font-family: "ff-nuvo-web-pro", sans-serif;
  font-weight: 300;
}
#WorkContent .details .meta {
  float: right;
  width: 15%;
}
#WorkContent .details .meta dt {
  color: #898989;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#WorkContent .details .meta dd {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}
#WorkContent .details .meta .cta {
  opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #182037;
  border-radius: 5px;
  display: block;
  margin-top: 10px;
}
#WorkContent .details .meta .cta:hover {
  opacity: 1;
  background: #5f5f5f;
  border-color: #5f5f5f;
  color: white;
}
#WorkContent .comps {
  margin: 100px auto 50px;
  max-width: 1240px;
  border-bottom: 1px solid #e3e3e3;
}
#WorkContent .comps .img-wrap {
  margin-bottom: 80px;
  text-align: center;
}
#WorkContent .comps h4 {
  color: #333;
}
#WorkContent .comps img {
  max-width: 100%;
  border: 1px solid #e3e3e3;
}
/*
---------------------------------------------------
FOOTER
---------------------------------------------------
*/
#Footer {
  margin-top: 50px;
  padding: 30px 0 80px;
  border-top: 1px solid #e3e3e3;
  font-size: 12px;
}
#Footer p {
  float: left;
}
#Footer ul {
  float: right;
  max-width: 300px;
  width: 100%;
}
#Footer ul li a {
  color: #5f5f5f;
}
#Footer ul li a:hover {
  color: #182037;
}
/*
---------------------------------------------------
MEDIA QUERIES
---------------------------------------------------
*/
@media screen and (max-width: 1477px) {
  .headline {
    font-size: 47px;
    width: 98%;
  }
}
@media screen and (max-width: 1443px) {
  .headline {
    font-size: 45px;
    width: 98%;
  }
}
@media screen and (max-width: 1368px) {
  .headline {
    width: 90%;
    font-size: 52px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1275px) {
  .headline {
    font-size: 47px;
    width: 80%;
  }
  ul.work-thumbs .thumbs {
    height: 300px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  ul.work-thumbs .thumbs img {
    position: relative;
    top: -58px;
    left: -65px;
  }
  ul.work-thumbs .thumbs .mask {
    padding-top: 70px !important;
  }
  ul.side-projects .thumbs .mask {
    padding-top: 45px !important;
  }
}
@media screen and (max-width: 1225px) {
  .headline {
    width: 85%;
  }
}
@media screen and (max-width: 1165px) {
  .headline {
    width: 90%;
  }
  ul.work-thumbs .thumbs {
    max-width: 48% !important;
    height: 190px !important;
  }
}
@media screen and (max-width: 1117px) {
  .headline {
    font-size: 42px;
  }
}
@media screen and (max-width: 1032px) {
  .headline {
    font-size: 40px;
  }
}
@media screen and (max-width: 993px) {
  .headline {
    font-size: 39px;
    width: 90%;
  }
}
